$active-lnk-color: #0282F9;
$merch-bar-color: #0282F9;
$follow-color: #0282F9;
$footer-text: #727B68;
$footer-lnk-bar: #303030;
$main-bg-color: #1C1C1C;
$comic-content-color: #00A9D9;
$comic-title-color: #003F5E;
$comic-price-banner: #55BA59;
$adv-text: #555555;
$spec-background: #F6F6F6;
$spec-border: #E3E3E3;